{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["ie 11"],
        "node": "current",
        "uglify": true,
        "useBuiltIns": "entry",
        "debug": true
      }
    }]
  ]
}
